.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: .5vw;
}

#trick-2 .container {
  height: 100%;
}

.container .box {
  width: 20vw;
  height: 20vw;
  border: black solid var(--border);
  padding: .5vw;
}