html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: 'Arial Narrow';
  line-height: 108%;
  font-size: 1.2vw;
  display: flex;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 30vw;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
}

nav {
  padding: 1vw;
}

section {
  min-height: 100vh;
  border-left: solid black var(--border);
  border-bottom: solid black var(--border);
}

section:nth-child(2n + 1) {
  background-color: #f0f0f0;
}

li:hover {
  opacity: .5;
}