:root {
  --border: .065vw;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: 'Arial Narrow';
  line-height: 108%;
  font-size: 1.2vw;
  letter-spacing: .01em;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  border-right: solid black var(--border);
  width: 30vw;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
  scroll-snap-points-y: repeat(calc(100vh + var(--border)));
  scroll-snap-type: y mandatory;
}

nav {
  padding: 1vw;
}

section {
  min-height: calc(100vh + var(--border));
  padding-top: calc(var(--border) * -1);
  margin-top: var(--border);
  scroll-snap-align: start;
}

section:not(:last-child) {
  border-bottom: solid black var(--border);
}

ol {
   list-style: none;
   counter-reset: item;
 }

li {
 counter-increment: item;
}

li:before {
 margin-right: .2em;
 content: counter(item);
 border-radius: 100%;
 border: black solid calc((var(--border) / .88) * 1.12);
 color: black;
 width: 1.2em;
 height: 1.2em;
 text-align: center;
 display: inline-block;
 transform: scale(.88);
}

li:hover {
  opacity: .5;
}

@media (max-width: 888px) {
  body {
    font-size: 2.2vw;
  }
  header {
    width: 36vw;
  }
  main {
    width: 64vw;
  }
  nav {
    padding: 2vw;
  }
}