 ol {
   list-style: none;
   counter-reset: item;
 }
 li {
   counter-increment: item;
 }
 li:before {
   margin-right: 1vw;
   content: ')' counter(item) ')';
   border-radius: 100%;
/*    border: white dashed;
   color: white;
   width: 1.2em; */
   text-align: center;
   display: inline-block;
 }