/* default styles start here */
:root {
  --border: 0.08vw;
  --base: 1.4vw;
  --padding: 1vw;
  --header-width: 30vw;
  --main-width: calc(100vw - var(--header-width));
  --main-columns: 3;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: "Arial";
  line-height: 108%;
  font-size: var(--base);
  letter-spacing: 0.01em;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  border-right: solid black var(--border);
  width: var(--header-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  row-gap: var(--padding);
}

main {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--main-width);
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--padding) var(--padding) 0;
}

header:not(.title) {
  font-family: "Arial Narrow";
}

section {
  height: calc((var(--main-width) - var(--padding)) / var(--main-columns));
  width: calc((var(--main-width) - var(--padding)) / var(--main-columns));
  padding: var(--padding) 0 0 var(--padding);
}

ol {
  list-style: none;
  counter-reset: item;
}

ol li {
  counter-increment: item;
}

ol li:before {
  margin-right: 0.2em;
  content: counter(item);
  border-radius: 100%;
  border: black solid 0.1vw;  /* Simplified border width */
  color: black;
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  display: inline-block;
  transform: scale(0.88);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a:hover,
button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.message a {
  border-bottom: solid var(--border) black;
}

.title a:hover {
  opacity: 1;
}

.container > * {
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  font-family: "Arial Black";
}

.colour {
  background-color: blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box {
  width: 100%;
  height: 100%;
  border: black solid var(--border);
  padding: var(--padding);
}

#exercise-1 .box:hover {
  background-color: yellow;
}

#exercise-2 .box:hover p {
  filter: blur(10px);
  transition: all 0.5s ease;
}

#exercise-3 .box,
#exercise-4 .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#exercise-3 .box {
  border-radius: 25px;
}

#exercise-3 .box:hover {
  border-radius: 100%;
  transition: all 1.5s ease;
}

#exercise-4 .box {
  border-radius: 100%;
}

#exercise-4 .box:hover {
  transform: rotate(180deg);
  transition: all 1.5s ease;
}

#exercise-6 .box:hover {
  cursor: progress;
}

@media (max-width: 888px) {
  :root {
    --padding: 1.8vw;
    --base: 1.8vw;
    --header-width: 36vw;
    --main-columns: 2;
  }
}

@media (max-width: 480px) {
  :root {
    --padding: 3vw;
    --base: 3vw;
    --header-width: 44vw;
    --main-columns: 1;
  }
}