:root {
  --border: .065vw;
  --base: 1.5vw;
  --padding: 1vw;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: 'Arial Narrow';
  line-height: 108%;
  font-size: var(--base);
  letter-spacing: .01em;
  display: flex;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  border-right: solid black var(--border);
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  row-gap: var(--padding);
}

main {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
}

section {
  min-height: 100vh;
}

ol {
   list-style: none;
   counter-reset: item;
 }

li {
 counter-increment: item;
}

li:before {
 margin-right: .2em;
 content: counter(item);
 border-radius: 100%;
 border: black solid calc((var(--border) / .88) * 1.12);
 color: black;
 width: 1.2em;
 height: 1.2em;
 text-align: center;
 display: inline-block;
 transform: scale(.88);
}

li:hover {
  opacity: .5;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: .5vw;
}

.container > * {
  cursor: pointer;
}

.container .box {
  width: 20vw;
  height: 20vw;
  border: black solid var(--border);
  padding: .5vw;
}

#exercise-1 p:hover {
  color: red;
}

#exercise-2 .container {
  height: 100%;
}

#exercise-3 .box:hover {
  transform: rotate(180deg);
  transition: 2s ease;
}

#exercise-4 .container .box {
  display: flex;
  justify-content: center;
  align-items: center
}

#exercise-4 .box:hover {
  border-radius: 100px;
  transition: 2s ease;
}

#exercise-6 .box:hover {
  cursor: crosshair;
}

#exercise-7 {
  padding: var(--padding);
}

@media (max-width: 888px) {
  :root {
    --padding: 2vw;
    --base: 2vw;
  }
  header {
    width: 36vw;
  }
  main {
    width: 64vw;
  }
}